*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  
}
html,body{
    height: 100%;
    width: 100%;
}
::selection{
    color:rgb(154, 233, 117);
}
@font-face {
    font-family: gbold;
    src: url(./Gilroy-FREE/Gilroy-ExtraBold\ ttf.ttf);
}
@font-face {
    font-family: glight;
    src: url(./Gilroy-FREE/Gilroy-ExtraBold\ ttf.ttf);
}

#nav{
    height: 100px;
    width: 100%;
    padding: 10px 10px;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 999;

}
#left img{
    height: 60px;
    width: 60px;
    filter: brightness(1);
}
#left{
    margin-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    height: 100%;
    width: 10%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
#left h3{
    font-size:  35px;
    letter-spacing: 1px;
}
#left h4{
    font-size: 35px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: -1px;
}
#mid{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    /* border: solid black 2px; */
    /* padding-left: 12%; */
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}
#mid h3{
    font-weight: 550;
}
#right{
    height: 100%;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
#ad{
    border: 1.5px black solid;
    padding:13px 17px;
    border-radius: 5px;
    font-size: 17px;
    word-spacing: -3px;
}
#main{
    margin-left: 80px;
    margin-right: 60px;
}
#page1{
    height: 100%;
    width: 100%;
    padding-top: 4%;
    display: flex;
    align-items: center;
}
#p1-left{
    height: 100%;
    width: 50%;
    padding-top:13%;
    /* padding-left: 30px; */

}
#p1-left h1{
    font-size: 68px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing:-2px;
    word-spacing:-25px;
    font-weight: 600;
    line-height: 68px;
}
p{
    color: rgb(81, 81, 81);
}
#p1-left p{
    margin-top: 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
   
}
#p1-left button{
    margin-top: 25px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-family: cursive;
}
#p1-right{
    padding-top: 8%;
    padding-left: 2%;
}
#p1-right img{
    height: 550px;
    width: 100%;
}
#page2{
    width: 100%;
    margin-bottom:90px;
    /* position: relative; */
}
#p2-main{
    width: 100%;
    height: 180px;
    background-color:rgb(243, 243, 243);
    padding:25px 0 0 25px ;
    border-radius: 20px;
}
#p2-main h2{
    font-family:monospace;
    font-size: 25px;
    word-spacing: -5px;
    letter-spacing: -1px;
}
#p2-main p{
    margin-top: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#p2-main button{
    padding: 10px 20px;
    background-color: black;
    font-family: cursive;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}
#page2 img{
    position: absolute;
    right: 330px;
    top: 690px;
    height: 240px;
    object-fit: auto;
    width: 260px;
}
#page3{
    width: 100%;
}
#upper{ 
    margin-left: 80px;
    margin-top: 130px;
    display: flex;
    align-items: center;
    gap: 35px;
}
#upper p{
    font-size: 16.5px;
}
#upper h2{
    font-size: 30px;
    background-color: rgb(185, 255, 102);
    padding: 8px 13px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#lower{
    width: 100%;
    height: 53vh;
    background-color: rgb(25, 26, 35);
    padding: 50px 80px;
    margin-top: 30px;
    border-radius: 30px;
    
}
#lower p{
    color: white;
    padding-top: 20px;
    font-size: 19px;
}
#lower h6{
    color: rgb(185, 255, 102);
    font-size: 18px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#page4{
    width: 100%;
}
#lower1{
    width: 106%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}
.services{
    height: 53%;
    width: 30%;
    background-color:rgb(243, 243, 243);
    border-radius: 28px 28px 0 28px;
    padding: 30px 0 0 30px;
    font-family:cursive;
    font-size: 25px;
    /* position: relative; */
}
.services:nth-child(2n){
    background-color: rgb(25, 26, 35);
    color: white;
}
.services i{
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(25, 26, 35);
    color:  rgb(185, 255, 102);
    padding: 3px;
}
.services:nth-child(2n) i{
    background-color: white;
    color:  rgb(25, 26, 35);
}
.services h3{
    margin-bottom: 20px;
}
#s-lower{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#simg{
    /* padding: 15px 20px 20px  ; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    width: 120px;
    background-color:rgb(185, 255, 102) ;
    border-radius: 30px 0 0 0;
}
.work{
    width: 84%;
    height: 90px;
    background-color: rgb(243, 243, 243);
    margin-top: 40px;
    margin-left: 120px;
    border-radius: 30px;
    box-shadow: 0 8px 1px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.work:hover{
    box-shadow: 0 -2px 20px;
}
#name{
    display: flex;
    /* justify-content: ; */
    align-items: center;
    gap: 10px;
}
#name h2{
    font-size: 30px;
    font-family: cursive;
}
#name h4{
    font-size:22px;
    font-family: monospace;
    font-weight: 500;
} 
.work i{
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 100%;
    padding: 2px 4px;
}
#lower3{
    width: 106%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}
.team{
    width: 30%;
    height: 43%;
    border:  1px solid black;
    border-radius: 30px;
    box-shadow: 0 3px 1px;
    padding: 15px;
}
.team:nth-child(1){
    height: 48%;
}
.team:hover{
    box-shadow: 0 -5px 1px;
    margin-top: 10px;
}
#up{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;

}
#up h4{
    font-size: 18px;
}
#up p{
    font-family: monospace;
    font-size: 17px;
}
#des{
    margin-top: 50px;
}
#down{
    margin-top: 20px;
    font-size: 18px;
}
#p6lower{
    width: 100%;
    height: 100px;
    background-color:  rgb(25, 26, 35);
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}
a{
    color: white;
    font-size: 20px;
    border: 1.5px solid white;
    padding: 18px 80px 20px 15px;
    margin-left: 10px;
    border-radius: 20px;
}
#p6lower button{
    color: black;
    background-color: rgb(185, 255, 102);
    padding: 20px 30px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 18px;
}
#lower4{
    width: 100%;
    height: 80vh;
    background-color:rgb(243, 243, 243) ;
    margin-top: 40px;
    border-radius: 40px;
    position: relative;
}
#lower4 img{
    height: 100%;
    position: absolute;
    right: 0%;
    color: wheat;
}
#contact{
    height: 100%;
    padding: 20px 20px 20px 100px;
    position: relative;
    padding-bottom: 20px;
}
#contact p{
    margin-top: 25px;
}
#contact input{
    margin-top: 20px;
    height: 7vh;
    width: 45vw;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 17px;
    opacity: 0.8;
    font-family: cursive;
    padding-left: 15px;
}
#contact button{
    height: 7vh;
    width: 45vw;
    background-color: black;
    color: white;
    margin-top: 15px;
    border-radius: 5px;
}
#msg{
    padding: 20px 0 110px ;
}
#page8{
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 140px;
    padding: 20px 50px 0 50px;
    height: 10vh;
    position: relative;
}
#img1{
    height: 115px;
}
#img2{
    height: 30px;
}
#img3{
    height: 25px;
}
#page9{
    width: 100%;
    padding: 40px;
    background-color:  rgb(25, 26, 35);
    margin-top: 70px;
    border-radius: 25px 25px 0px 0px;
}
#top{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top #right h3{
    border-color: white;
}
#top img{
    height: 40px;
    width: 50px;
}
#top #left{
    gap: 30px;
}
#middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px white solid;
    padding-bottom: 30px;
}
#middle p{
    color: white;
    margin-top: 15px;
    font-size: 17px;

}
#m-left h3{
    background-color:rgb(185, 255, 102) ;
    width: 120px;
    font-size: 25px;
    padding: 7px 10px 7px 10px;
    margin-top: 45px;
    border-radius: 15px;
    font-family:"fantasy";
}
#m-right{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px 15px;
    border-radius: 20px;
}
#insta a{
    border: 0;
    text-decoration: none;
    color: rgb(25, 26, 35);
}
#insta i{
    border-radius: 100px;
    color: white;
    background-color: black;
    padding: 8px;
    font-size: 25px;
    font-weight: 100 !important;
}
#insta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 2px 10px 3px 0px;
}
#wiz a{
    width: 100%;
    text-decoration: none;
    background-color: rgb(185, 255, 102);
    color:rgb(25, 26, 35) ;
    padding-right: 150px;
}
#wiz{
    width: 50%;
}
#bottom{
    color: white;
    font-size: 23px;
}
#bottom h5{
    margin-top: 15px;
}
#bottom p{
    color: white;
    font-size: 17px;
    margin-top: 15px;
}